* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* cards */
.cards {
  display: grid;
  max-width: 1400px;
  margin: 220px auto;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'a a b c'
    'd e e c';
}
.card {
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
  padding: 32px;
}
.card__one {
  grid-area: a;
}
.card__two {
  grid-area: b;
}
.card__five {
  grid-area: c;
}
.card__three {
  grid-area: d;
}
.card__four {
  grid-area: e;
}
