@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-color: hsl(263, 55%, 52%);
  --pink-text: #c9a9eb;
  --card-0ne-p1: #d1baea;
  --card-two-text-color: #9da7b6;
  --card-two-p1: #c9d0d7;
  --card-five-text-color: #747983;
}

body {
  font-family: 'Inter', sans-serif;
  padding: 40px;
}
html {
  font-size: 62.5%;
}
/* cards */



.cards {
  display: grid;
  max-width: 1400px;
  margin: 20rem auto;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'a a  b c'
    'd e e c';
}
.card {
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
  padding: 32px;
  border-radius: 8px;
}
.card__one {
  grid-area: a;
  background-color: var(--pink-color);
  position: relative;
  color: var(--pink-text);
}
.card__one--paragraph {
  color: #fff;
  font-weight: bold;
}
.card__one .profile img {
  border: 3px solid var(--pink-text);
}
.big--quote {
  position: absolute;
  top: 0;
  right: 5.4rem;
}
/* card two */
.card__two {
  grid-area: b;
  background-color: hsl(224, 10%, 45%);
  color: var(--card-two-p1);
}
.card__two .card__paragraphes p:first-child {
  color: #fff;
  font-weight: bold;
}
.card__five {
  grid-area: c;
  color: var(--card-five-text-color);
}
.card__five .testimonial,
.card__five .name,
.card__five .occupation {
  color: #a3a5ab;
}
/* card three */
.card__three {
  grid-area: d;
  color: #a3a5ab;
}
.card__three .card__paragraphes p:first-child {
  font-weight: bold;
}
/* card-4 */
.card__four {
  grid-area: e;
  background-color: hsl(219, 29%, 14%);
  color: #93979e;
}
.card__four p:first-child,
.card__four .testimonial {
  font-weight: bold;
}

.card__four .testimonial,
.card__four .profile__details {
  color: #a9aaaf;
}
.card__four .profile img {
  border: 3px solid var(--pink-color);
}
.card__four .testimonial,
.card__two .card__paragraphes .testimonial {
  font-family: 'Alumni Sans', sans-serif;
  font-weight: bold;
}


.profile {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 1rem;
}
.profile__image img {
  border-radius: 100%;
  border: 2px solid #fff;
}
.name {
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 0.6rem;
}
.occupation {
  display: block;
  font-size: 1.2rem;
}
.card__paragraphes {
  line-height: 1.6;
  letter-spacing: 0.8px;
}
.card__paragraphes p:first-child {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
}
.testimonial {
  font-size: 1.4rem;
  line-height: 1.8;
}

.card__three .profile {
  color: hsl(224, 10%, 45%);

}


/* media queres */
@media (max-width: 40rem) {
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  body {
    padding: 4rem;
  }
  .card__one--paragraph {
    font-weight: bold;
  }
  .big--quote {
    display: none;
  }
  .cards {
    margin-top: 4rem;
  }
}
@media (width >= 700) {
  .cards{
    display: grid
  }
}